.about-container {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 5rem;
  font-weight: 800;
  text-decoration: none;
  margin: 4% 0 0 4%;
}

.about-content-container {
  display: flex;
  align-content: space-between;
  margin: 2% 4%;
}

.about-text-container {
  width: 60%;
  margin-bottom: 5%;
}

.about-text {
  font-size: larger;
  font-weight: 200;
  margin-bottom: 1rem;
}

.about-image {
  height: 340px;
  width: auto;
  padding-left: 20%;
}