.contact-panel {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3% 25%;
}

.main-bg {
    background-color: #3A606E;
  }
  
.secondary-bg {
    background-color: #31525E;
}

.contact-panel-title{
    font-size: xxx-large;
    text-align: left;
    font-weight: 800;
    margin-bottom: 0;
}

.contact-panel-subtitle {   
    font-size: large;
    font-weight: 400;
    margin-bottom: 0;
}

.contact-panel-details {
    line-height: 25px;
    font-weight: 500;
}
